@import "https://cdn-font.hyperos.mi.com/font/css?family=MiSans_VF:VF:Chinese_Simplify,Latin&display=swap";
@import "https://cdn-font.hyperos.mi.com/font/css?family=MiSans:200,300,400,450,500,600,650,700:Chinese_Simplify,Latin&display=swap";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "MiSans VF", MiSans, ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji" !important;
}

#app,
#page {
  /* background-image: url("https://staticoss.xhemj.work/spy.xhemj.com/bg.jpg"); */
  @apply bg-white bg-center bg-repeat bg-contain z-10 overflow-x-hidden border-gray-400 w-full min-h-screen  mx-auto my-0 max-w-[450px] overflow-y-hidden;
}

#app {
  @apply relative;
}

#page {
  @apply px-4 py-6;
}

.slide-left-enter-active,
.slide-right-enter-active,
.slide-left-leave-active,
.slide-right-leave-active {
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  overflow: hidden;
}

.slide-left-enter-active,
.slide-right-enter-active {
  transition: all 0.3s;
}

.slide-left-leave-active,
.slide-right-leave-active {
  transition: all 0.5s;
}

.slide-left-enter-from {
  opacity: 1;
  transform: translateX(100%);
}

.slide-right-enter-from {
  opacity: 1;
  transform: translateX(-100%);
}

.slide-left-leave-to {
  opacity: 0.7;
  transform: translateX(-50%);
}

.slide-right-leave-to {
  opacity: 0.7;
  transform: translateX(50%);
}

#page::after {
  content: "";
  @apply pointer-events-none opacity-0 absolute top-0 left-0 right-0 bottom-0 z-0 bg-black/40 transition-opacity duration-150;
}

#page.slide-left-leave-to::after,
#page.slide-right-leave-to::after {
  @apply opacity-100;
}

/* 图片资源预加载 */
#app::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url("https://staticoss.xhemj.work/langren.xhemj.com/character/pingmin.jpg")
    url("https://staticoss.xhemj.work/langren.xhemj.com/character/langren.jpg")
    url("https://staticoss.xhemj.work/langren.xhemj.com/character/yuyanjia.jpg")
    url("https://staticoss.xhemj.work/langren.xhemj.com/character/nvwu.jpg")
    url("https://staticoss.xhemj.work/langren.xhemj.com/character/lieren.jpg")
    url("https://staticoss.xhemj.work/langren.xhemj.com/character/qiubite.jpg")
    url("https://staticoss.xhemj.work/langren.xhemj.com/character/unknown.jpg");
}

body::-webkit-scrollbar {
  width: 4px;
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.2);
}

body::-webkit-scrollbar-track {
  background: transparent;
}
